<nav class="navbar navbar-expand-lg navbar-dark bg-info ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Angular</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active"  routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="forms">Forms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="database">AWSFileUpload</a>
          </li>
         
        </ul>
       </div>
      <ul class="navbar-nav">
        <li class="nav-item ml-auto">
          <a class="nav-link active" routerLink="local">ReadFile From local </a>
        </li>
        <li class="nav-item ml-auto">
          <a class="nav-link active" routerLink="toggle">ToggleButton</a>
        </li>
    </ul>
    </div>
  </nav>